html, body {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}
